DATABASE_URL="postgresql://postgres:12345678@localhost:5432/scribe_db?schema=public"
JWT_SECRET="26dfd39f27a848de5e1bf6dce5ea67836436b350609df2ae740160a92cc375d0"
GCS_BUCKET="your-bucket"
GCS_PROJECT_ID="your-project-id"
GCS_CLIENT_EMAIL="service-account@example.iam.gserviceaccount.com"
GCS_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nXXXX\n-----END PRIVATE KEY-----\n"
PORT=3000
RATE_LIMIT_GENERAL_WINDOW=15
RATE_LIMIT_GENERAL_MAX=100
RATE_LIMIT_AUTH_MAX=5
RATE_LIMIT_TICKET_MAX=10

# ME PASEN LA CONFIGURACION DEL SERVIDOR DE CORREO PARA ENVIAR LOS CORREOS SALIENTES DEL SITI WEB DE SCRIBE COMPRAJUEGA Y GANA
# Email Configuration (SMTP o SendGrid)
EMAIL_PROVIDER=smtp
SENDGRID_API_KEY=
SMTP_HOST=Nombre del host SMTP
SMTP_PORT=Puerto SMTP (ejemplo: 587)
SMTP_USER=Usuario SMTP (ejemplo: correo electrónico)
SMTP_PASS=Contraseña SMTP (ejemplo: contraseña)
FROM_EMAIL=Correo electrónico del remitente (ejemplo: correo electrónico)
FROM_NAME=Scribe - El juego

# WhatsApp Bot Configuration
WHATSAPP_BOT_URL=http://localhost:3008/v1/messages

# Frontend URL for verification links
FRONTEND_URL=http://localhost:5173

# Recaptcha v3
RECAPTCHA_SECRET_KEY=""
RECAPTCHA_MIN_SCORE=0.5

# Email addresses for admin notifications (comma-separated)
ADMIN_EMAILS="email@example.com,emai@example.com"
